WPF@Home/Service References/NewsService/NewsWCF41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.Linq" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12288/NewsWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAL_Library" />
  <xs:import schemaLocation="http://localhost:12288/NewsWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EntityRefOfTypevWSB3Z2k">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityRefOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Type" Namespace="http://schemas.datacontract.org/2004/07/DAL_Library" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DAL_Library" minOccurs="0" name="Entity" nillable="true" type="q1:Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityRefOfTypevWSB3Z2k" nillable="true" type="tns:EntityRefOfTypevWSB3Z2k" />
  <xs:complexType name="EntityRefOfUservWSB3Z2k">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityRefOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="User" Namespace="http://schemas.datacontract.org/2004/07/DAL_Library" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DAL_Library" minOccurs="0" name="Entity" nillable="true" type="q2:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityRefOfUservWSB3Z2k" nillable="true" type="tns:EntityRefOfUservWSB3Z2k" />
  <xs:complexType name="EntityRefOfRightvWSB3Z2k">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityRefOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Right" Namespace="http://schemas.datacontract.org/2004/07/DAL_Library" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DAL_Library" minOccurs="0" name="Entity" nillable="true" type="q3:Right" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityRefOfRightvWSB3Z2k" nillable="true" type="tns:EntityRefOfRightvWSB3Z2k" />
</xs:schema>