WindowsService/Service References/ServiceRef/NewsWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAL_Library" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAL_Library" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12288/NewsWCF.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.ComponentModel" />
  <xs:import schemaLocation="http://localhost:12288/NewsWCF.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.ComponentModel" name="PropertyChanged" nillable="true" type="q1:PropertyChangedEventHandler" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.ComponentModel" name="PropertyChanging" nillable="true" type="q2:PropertyChangingEventHandler" />
      <xs:element name="_Articles" nillable="true" type="tns:ArrayOfArticle" />
      <xs:element name="_BirthDate" nillable="true" type="xs:dateTime" />
      <xs:element name="_FirstName" nillable="true" type="xs:string" />
      <xs:element name="_Id" type="xs:int" />
      <xs:element name="_LastName" nillable="true" type="xs:string" />
      <xs:element name="_MailAddress" nillable="true" type="xs:string" />
      <xs:element name="_News" nillable="true" type="tns:ArrayOfNew" />
      <xs:element name="_Password" nillable="true" type="xs:string" />
      <xs:element name="_Right" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Linq" name="_Right1" type="q3:EntityRefOfRightvWSB3Z2k" />
      <xs:element name="_UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfArticle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Article" nillable="true" type="tns:Article" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArticle" nillable="true" type="tns:ArrayOfArticle" />
  <xs:complexType name="Article">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.ComponentModel" name="PropertyChanged" nillable="true" type="q4:PropertyChangedEventHandler" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.ComponentModel" name="PropertyChanging" nillable="true" type="q5:PropertyChangingEventHandler" />
      <xs:element name="_Author" nillable="true" type="xs:int" />
      <xs:element name="_DepositDate" nillable="true" type="xs:dateTime" />
      <xs:element name="_Id" type="xs:int" />
      <xs:element name="_Overview" nillable="true" type="xs:string" />
      <xs:element name="_RefType" nillable="true" type="xs:int" />
      <xs:element name="_SubTitle" nillable="true" type="xs:string" />
      <xs:element name="_Text" nillable="true" type="xs:string" />
      <xs:element name="_Title" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.Linq" name="_Type" type="q6:EntityRefOfTypevWSB3Z2k" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.Data.Linq" name="_User" type="q7:EntityRefOfUservWSB3Z2k" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Article" nillable="true" type="tns:Article" />
  <xs:complexType name="Type">
    <xs:sequence>
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System.ComponentModel" name="PropertyChanged" nillable="true" type="q8:PropertyChangedEventHandler" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System.ComponentModel" name="PropertyChanging" nillable="true" type="q9:PropertyChangingEventHandler" />
      <xs:element name="_Articles" nillable="true" type="tns:ArrayOfArticle" />
      <xs:element name="_Id" type="xs:int" />
      <xs:element name="_Type1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Type" nillable="true" type="tns:Type" />
  <xs:complexType name="ArrayOfNew">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="New" nillable="true" type="tns:New" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNew" nillable="true" type="tns:ArrayOfNew" />
  <xs:complexType name="New">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DepositDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SubTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="New" nillable="true" type="tns:New" />
  <xs:complexType name="Right">
    <xs:sequence>
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/System.ComponentModel" name="PropertyChanged" nillable="true" type="q10:PropertyChangedEventHandler" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/System.ComponentModel" name="PropertyChanging" nillable="true" type="q11:PropertyChangingEventHandler" />
      <xs:element name="_Id" type="xs:int" />
      <xs:element name="_Name" nillable="true" type="xs:string" />
      <xs:element name="_Users" nillable="true" type="tns:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Right" nillable="true" type="tns:Right" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
</xs:schema>