PhoneApp/Service References/NewsService/NewsWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="People">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Right" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="People" nillable="true" type="tns:People" />
  <xs:complexType name="ArrayOfNews">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="News" nillable="true" type="tns:News" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNews" nillable="true" type="tns:ArrayOfNews" />
  <xs:complexType name="News">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="News" nillable="true" type="tns:News" />
  <xs:complexType name="ArrayOfPaper">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Paper" nillable="true" type="tns:Paper" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaper" nillable="true" type="tns:ArrayOfPaper" />
  <xs:complexType name="Paper">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Overview" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paper" nillable="true" type="tns:Paper" />
  <xs:complexType name="Commentary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paper" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Commentary" nillable="true" type="tns:Commentary" />
</xs:schema>